{{#get 'posts' limit='3' include='authors' filter='tags:[{{post.tags}}]+id:-{{post.id}}' order="published_at desc" as
|related-posts|}}
{{#if related-posts}}
<div class="s-products-feature2">
  <div class="o-grid" style="display: block; contain: content;">
    <div class="" style="font-size: 32px; font-weight: 800; margin-bottom: -25px">추천글</div>
        <div class="s-products-feature2__content">
        {{#foreach related-posts as |post|}}
        {{> home-section2 }}
        {{/foreach}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
{{/get}}