<div class="s-products-navigation__container">
  <div class="s-products-navigation">
   <ul class="s-products-navigation__list">
          <li class="s-products-navigation__item s-products-navigation__item--all">{{#link href="/"
            class="s-products-navigation__link" activeClass="s-products-navigation__link--current"}}ALL{{/link}}</li>
            <li class="s-products-navigation__item s-products-navigation__item--all">{{#link href="/tag/doingletter"
            class="s-products-navigation__link" activeClass="s-products-navigation__link--current"}}LETTER{{/link}}</li>
            <li class="s-products-navigation__item s-products-navigation__item--all">{{#link href="/shop/category/book"
            class="s-products-navigation__link" activeClass="s-products-navigation__link--current"}}BOOK{{/link}}</li>
            <li class="s-products-navigation__item s-products-navigation__item--all">{{#link href="/shop/category/tool-kit"
            class="s-products-navigation__link" activeClass="s-products-navigation__link--current"}}TOOL KIT{{/link}}</li>
            <li class="s-products-navigation__item s-products-navigation__item--all">{{#link href="/tag/article"
            class="s-products-navigation__link" activeClass="s-products-navigation__link--current"}}ARTICLE{{/link}}</li>
            <li class="s-products-navigation__item s-products-navigation__item--all">{{#link href="/shop"
            class="s-products-navigation__link" activeClass="s-products-navigation__link--current"}}PROGRAM{{/link}}</li>
        </ul>
  </div>
</div>