{{!< default}} {{#contentFor 'title' }}{{ meta_title }}{{/contentFor}} <div class="c-page__wrap" style="background-color: #F3F3EF;">

  <div class="c-page__section">
    <div class="o-grid">
      <div class="s-products-navigation__container">
        <div class="s-products-navigation">
          <ul class="s-products-navigation__list">
        </div>
      </div>
      <div class="c-page__section--container">
        {{!-- <div class="c-page__section--tag">{{tag.label}}</div> --}}
        <div class="c-page__section--main">
          {{> loop position="tag"}}
          <div class="c-tag-pagination__wrap">
            {{ pagination }}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>