<footer class="s-product__footer">
   {{#if @site.post_visible_shop_section}}
  <section class="c-home-shop-section">
    <div class="c-home-products-carousel">
      <div class="o-grid">
        <div class="o-grid__col o-grid__col--full">
          {{> common/products/carousel-section which="home" filter=(concat "primary_tag:" primary_tag.slug) nav="true" title=@site.shop_section_title }}
        </div>
      </div>
    </div>
  </section>
  {{/if}}
</footer>