.c-home-hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 320px;

  @include mq($from: desktop) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 500px;
  }

  &__outer {
    background-color: var(--banner-background-color);
    height: 320px;
    width: 100%;
    overflow: hidden;
  }

  &__image-box {
    width: 100%;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    @include mq($until: desktop) {
      width: 100vw;
      height: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.c-home-subscribe {
  &__box {
    box-shadow: 0px 4px 20px 0px #0000001A;
    background-color: #FFFEFE;
    height: 200px;
    max-width: 1200px;
    min-width: 310px;
    width: 70%;
    border-radius: 20px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mq($until: desktop) {
     width: 92%;
     padding: 10px; 
    }
  }
  
  &__title {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -2%;
    font-weight: 900;
    text-align: center;
    margin-bottom: 15px;
    @include mq($until: desktop) {
      width: 83%;
      font-size: 22px;
      font-weight: 900;
      line-height: 28px;
      letter-spacing: -0.02em;
      text-align: center;
    }
  }
  
  &__desc {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -2%;
    font-weight: 500;
    text-align: center;
  }
  
  &__btn {
    margin-top: 15px;
    width: 24%;
    min-width: 265px;
    background-color: #61C2EE;
    height: 48px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 48px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: #1FACED;
    }
  }
}

.c-home-navigation {
  display: flex;
  &__outer {
    display: flex;
    flex-direction: row;
  }

  &__item {
    width: fit-content;
    padding: 10px 20px;
    background-color: #E9E9E9;
    color: #979797;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -1%;
    font-weight: 700;
    border-radius: 60px;
  }
}

.c-post {
  margin: auto;
  max-width: 800px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 60px;

  @include mq($until: desktop) {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
  }

  > * + * {
    margin-top: $space-32;
  }
}

.c-post-grid {
  .js-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 36px 10px;

    @include mq($from: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq($from: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.c-archive-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 36px 10px;

  @include mq($until: mobile) {
    grid-template-columns: 1fr;
  }

  @include mq($from: desktop) {
    grid-template-columns: repeat(3, 1fr);
    gap: 52px 46px;

    > div:nth-child(1n),
    > div:nth-child(2n) {
      padding: 0;
    }
  }

  &__outer {
    margin-bottom: 32px;

    @include mq($from: desktop) {
      margin-bottom: 40px;
    }
  }
}

.s-products__header {
  align-items: center;
  padding: 10px 0;
  width: 100%;
  margin-top: 50px;
  &--subscriber {
    &--input--form {
      display: flex; 
      align-items: center; 
      justify-content: space-between; 
      gap: 10px;
      @include mq($until: desktop) {
        display: block;
        margin-top: 20px;
      }
    }
    &--title {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
      font-weight: 800;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: -2%;
      margin-top: 50px;
      margin-bottom: 10px;
    }
  }
  &--popular {
    margin-top: -30px;
    &--container {
      width: 29%;
      @include mq($until: desktop) {
        width: 100%;
        margin-top: 80px;
      }
    }
    &--title {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
      font-weight: 800;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: -2%;
      margin-bottom: 10px;
      @include mq($until: desktop) {
        margin-top: 18px;
        margin-bottom: 20px;
      }
    }
    &--item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 14px 0;
      border-bottom: 1px solid #D9D9D9;
      &--number {
        font-family: Poppins;
        font-weight: 800;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -2%;
        text-align: center;
        width: 49px;
        height: 49px;
        background-color: #D9D9D9;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &--title {
        @include ellipsis(2);
        font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -2%;
        width: calc(100% - 59px);
      }
    }
  }
  &--feature2 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 50px auto;
    margin-bottom: 0;
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    @include mq($until: desktop) {
        display: flex;
        flex-direction: column;
        height: 820px;
    }
    &--slide {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      background-color: var(--accent-color);
      border-radius: 25px;
    }
    &--image {
      width: 100%;
      height: 100%;
      overflow: hidden; 
      object-fit: cover;
      object-position: center;
    }
    &--content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px 30px;
      width: 100%;

      color: white;
    }
    &--title {
      font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
      font-weight: 800;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -2%;
      margin-bottom: 20px;
      width: 100%;
      @include mq($from: desktop) {
        @include ellipsis(2);
      }
      @include mq($until: desktop) {
        margin-bottom: 20px;
        @include ellipsis(3);
      }
    }
    &--info {
      display: flex;
      gap: 16px;
      font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -2%;
      color: white;
    }
    &--primary-tag {
      @include mq($until: desktop) {
        display: none;
      }
    }
    &--mobile-primary-tag {
      font-family: AppleSDGothicNeo, "Noto Sans KR", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: -2%;
      color: #000;
      border: 1px solid #000;
      border-radius: 14.5px;
      padding: 5px 10px;
      margin-bottom: 5px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      display: inline-block;
      white-space: nowrap;
      background-color: #fff;
      @include mq($from: desktop) {
        display: none;
      }
    }
  }
  &--name {
    font-weight: 800;
    font-size: 32px;
    line-height: 25px;
    letter-spacing: -2px;
    margin-bottom: 20px;
    @include mq($until: desktop) {
      font-size: 28px;
      line-height: 25px;
      letter-spacing: 0px;
    }
  }
  
  &--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 366px;
    margin-top: 10px;
    @include mq($until: desktop) {
      height: auto;
      display: block;
    }
  }
  &--slide {
    width: 69%;
    background-color: var(--accent-color);
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    @include mq($until: desktop) {
      width: 100%;
      height: 400px;
    }
  }
  &--subscribe {
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border: 1px solid rgba(229, 244, 242, 1);
    box-shadow: 34.85px 29.63px 48.34px 0px rgba(51, 102, 255, 0.05);
    padding: 30px 20px;
    border-radius: 25px;
    background-color: white;
    @include mq($until: desktop) {
      width: 100%;
      margin-top: 20px;
    }

    &--icon {
      justify-content: center;
      display: flex;
      width: 111px;
      height: 84px;
      overflow: hidden;
    }
    &--message {
      font-family: NanumSquareRoundOTF;
      font-weight: 800;
      font-size: 25px;
      text-align: center;
      margin-top: 15px;
    }
    &--button {
      border: 1px solid black;
      border-radius: 10px;
      width: 100%;
      max-width: 90px;
      padding: 15px 0;
      background-color: white;
      font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 14px;
      letter-spacing: -2%;
      text-align: center;
      @include mq($until: desktop) {
        max-width: 100%;
      }
    }
    &--button:hover {
      background-color: black;
      color: white;
    }
  }
}

.s-products-main {
  &__header {
    @include mq($until: desktop) {
      margin-top: 40px;
    }
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    &--title {
      font-weight: 800;
      font-size: 32px;
      line-height: 25px;
      letter-spacing: -2px;

      @include mq($until: desktop) {
        font-size: 28px;
        line-height: 25px;
        letter-spacing: 0px;
      }
    }
    &--buttons {
      display: flex;
      align-items: center;
      font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 14px;
      letter-spacing: -2%;
      gap: 10px;
    }
    &--tag {
      padding: 8px 20px;
      color: black;
      border-radius: 20px;
      font-size: 14px;
      border: 2px solid var(--accent-color);
      font-weight: 500;
    }
    &--date {
      padding: 8px 20px;
      color: black;
      border-radius: 20px;
      font-size: 14px;
      border: 2px solid var(--accent-color);
      font-weight: 500;
    }
    &--filter {
      background-color: none;
      border: 0;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      font-size: 14px;
    }
    &--order {
      background-color: none;
      border: 0;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      font-size: 14px;
    }
  }
}

.s-products__header--order {
  position: relative;
}

.order-button {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: none;
  border: none;
}

.order-button:hover {
  background: #f3f4f6;
  border-color: #d1d5db;
}

.order-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -20px;
  margin-top: 8px;
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 10;
  width: 120px;
}

.order-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  border: none;
  background: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: center;
}

.order-option:hover {
  background-color: #f3f4f6;
}

.order-option svg {
  width: 20px;
  height: 20px;
}

.s-products-feature {
  background-color: var(--accent-color);
  padding: 100px 0;
  &__title {
    font-weight: 700;
    font-size: 38px;
    letter-spacing: -2%;
    margin-bottom: 30px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
    @include mq($until: desktop) {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }
  &__item {
    display: flex;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    
    &--image {
      width: 221px;
      height: 221px;
      overflow: hidden;
      background-color: #D9D9D9;
      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &--info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - 221px);
      padding: 30px 10px;
    }
    &--title {
      @include ellipsis(2);
      font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
      font-weight: 800;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: -2%;
      @include mq($until: desktop) {
        font-size: 20px;
        line-height: 30px;
      }
    }
    &--date {
      font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -2%;
      color: #B3B3C3;
    }
  }
}


.s-products-feature2 {
  padding: 100px 0;
  &__title {
    font-weight: 700;
    font-size: 38px;
    letter-spacing: -2%;
    margin-bottom: 30px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include mq($until: desktop) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 430px;
    margin-top: 50px;
    @include mq($until: desktop) {
      height: 400px; 
    }
    &--image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 20px;
      position: relative;
      background-color: var(--accent-color);

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--info {
      position: absolute;
      left: 0;
      bottom: 0;
      color: white;
      padding: 30px 40px;
      width: 100%;
    }
    &--title {
      font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
      font-weight: 800;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: -2%;
      @include ellipsis(3);
    }
    &--date {
      margin-top: 10px;
      font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -2%;
    }

  }
  &__main-item {
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 20px;
    @include mq($until: desktop) {
      flex-direction: column;
      background-color: transparent;
      box-shadow: none;
    }
    &--image {
      width: 50%;
      height: 697px;
      overflow: hidden;
      background-color: var(--accent-color);
      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include mq($until: desktop) {
        border-radius: 25px;
        width: 100%;
        height: 200px;
      }
    }
    &--info {
      width: 50%;
      padding: 90px 45px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include mq($until: desktop) {
        width: 100%;
        padding: 20px 0;
      }
    }
    &--title {
      font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
      font-weight: 800;
      font-size: 32px;
      line-height: 45px;
      letter-spacing: -2%;
      @include ellipsis(2);
      @include mq($until: desktop) {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -2%;
        margin-bottom: 10px;
      }
    }
    &--content {
      font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -2%;
      @include ellipsis(11);
      @include mq($until: desktop) {
        line-height: 24px;
        margin-bottom: 30px;
      }
    }
    &--url {
      font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
      font-weight: 800;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -2%;
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
} 
