/*------------------------------------*\
  Components > Post Card
\*------------------------------------*/

.c-post-card-pc {
  @include mq($until: desktop) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 340px;

  &__url {
    &--cover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__media {
    aspect-ratio: 1.61;
    width: 100%;
    overflow: hidden;

    margin-bottom: 16px;
    position: relative;
    background-color: rgba(0,0,0,.5);
  }

  &__image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;

    &--wrap {
      aspect-ratio: 4 / 3;
      width: 100%;
      height: 100%;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 20px;
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 10px;

    @include ellipsis(2);

    @include mq($from: desktop) {
      margin-bottom: 16px;
    }
  }

  &__excerpt {
    @include ellipsis(2);
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -2%;
    font-weight: 400;
    color: #8C8C82;
    margin-bottom: 15px;
  }

  &__data {
    display: flex;
    align-items: center;

    column-gap: 16px;

    @include mq($from: desktop) {
      border-top: 0.5px solid #d9d9d9;
      padding: 16px 0;
    }

  }

  &__meta {
    flex-grow: 1;
    display: flex;
    align-items: center;
    column-gap: 16px;

    font-size: 12px;
    line-height: 24px;

    color: #8c8c82;

    @include mq($from: desktop) {
      justify-content: space-between;
    }
  }

  &__tag {
    padding: 1px 10px;
    background-color: #E9E9E9;
    text-align: center;
    width: fit-content;
    border-radius: 4px;
    margin-bottom: 5px;

    &--link {
      color: #979797;
      font-size: 12px;
      line-height: 16.37px;
      font-weight: 700;
      font-family: Nunito Sans;
    }
  }
}

.c-post-card-mobile {
  display: flex;
  border-bottom: 1px solid #E9E9EE;
  @include mq($from: desktop) {
    display: none;
  }
  &__url {
    &--cover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__media {
    aspect-ratio: 4 / 3;
    width: 40%;
    overflow: hidden;
    margin-bottom: 16px;
    position: relative;
    background-color: rgba(0,0,0,.5);
    @include mq($until: desktop) {
      aspect-ratio: 2 / 1;
      border-radius: 8px;
    }
  }

  &__image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;

    &--wrap {
      aspect-ratio: 4 / 3;
      width: 100%;
      height: 100%;
    }
  }

  &__main {
    width: 70%;
    padding: 0 6%;
  }
  &__tag {
    font-size: 12px;
    font-weight: 700;
    line-height: 16.37px;
    color: #979797;
    &--link {
      font-size: 12px;
      font-weight: 700;
      line-height: 16.37px;
      color: #979797;
    }
  }
  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -1px;
    margin-top: 5%;
    @include ellipsis(2);
  }
}