.s-products-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 36px 10px;
  width: 92%;
  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  @include mq($from: desktop) {
    grid-template-columns: repeat(3, 1fr);
    gap: 52px 46px;
  }

  @include mq($until: desktop) {
    width: 100%;
    // grid-template-columns: repeat(4, 1fr);
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 20vh;
  }
}