.s-products-navigation {
  &__container {
    background-color: #F3F3EF;
    padding-bottom: 40px;
    margin: 0 auto;
    width: fit-content;
  }

  &__item {
    cursor: pointer;
  }

  &__item a {
    text-decoration: none;
  }

  &__item a:hover {
    color: #979797;
  }

  &__list--current:hover {
    color: #fff;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-decoration: none !important;
    background-color: #F3F3EF;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 14px;
    flex-wrap: wrap;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: 700;

    height: 40px;
    min-width: 96px;
    padding: 0 16px;
    border-radius: 100rem;
    color: #979797;
    background-color: #E9E9E9;
    transition: all 0.3s ease;

    @include mq($from: desktop) {
      height: 50px;
      min-width: 116px;
    }

    &--current {
      color: #FFFFFF;
      background-color: #C0C0C0;
    }
  }
}

[data-user-color-scheme="dark"] {
  .s-products-navigation {
    &__link {
      &--current {
        color: #000;
        border-color: #fff;
        background-color: #fff;
      }

      @include attention() {
        color: #000;
        border-color: #fff;
        background-color: #fff;
      }
    }
  }
}