{{#contentFor "custom_body_class"}} shop-template{{/contentFor}}
        <div class="c-home-section c-home-section__class">
          <div class="o-container">
            <div class="c-shop-page">
              <div class="c-shop-page__header">
                <div class="o-container">
                  <div class="c-shop-page__title">{{@site.shop_section_title}}</div>
                </div>
                <div class="c-shop-navigation">
                  <div class="o-container">
                    {{> templates/shop/navigation }}
                  </div>
                </div>
              </div>
              <div class="c-shop-page__main">
                <div class="c-shop-section">
                  <div class="o-container">
                    {{> templates/shop/list static=static }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>